<div class="container_sig">
    <h1>Signin</h1>
    <form action="/signin" method="post">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Signin</button>
    </form>
</div>