<nav>
    <ul>
        {{#if user}}
            <li><a href="/coches">List</a></li>
            <li><a href="/coches/add">Add</a></li>
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/signup">signup</a></li>
            <li><a href="/signin">signin</a></li>
        {{/if}}
    </ul>
</nav>