*
    margin: 0
    padding: 0

nav
    width: 100vw
    height: 40px
    background: #299f8a
    display: flex
    justify-content: end
    align-items: center
    padding: 0 30px
    box-sizing: border-box

    ul
        display: flex
        li
            list-style: none
            a
                text-decoration: none
                margin: 5px 10px
                color: white

body
    width: 100vw
.t_c
    text-align: center 
.c_list
    width: 60%
    margin: 0 auto
    display: flex
    .c_coche_list
        border: 2px solid blue
        margin: 10px

.boton
    background-color:#299f8a

.container
    height: calc(100vh - 40px)
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    button
        background-color:#299f8a
        border-radius: 5px
        padding: 3px 5px
    
    