<div class="container_sig">
    <h1>Add</h1>
    <form action="/coches/add" method="post">
        <input type="text" placeholder="Marca" name="marca">
        <input type="text" placeholder="Potencia" name="potencia">
        <input type="text" placeholder="Url" name="url">
        <button type="submit">Add</button>
    </form>
</div>  